# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
.venv/
venv/

# Local Files
.DS_Store
